.location-weather {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 1fr;
    border-radius: 6px;
    padding: 5px;
    img {
        grid-column: span 1;
        grid-row: span 3;
        max-height: 100%;
        max-width: 50%;
    }
    .desc {
        grid-column: span 1;
        font-size: 1rem;
        color: inherit;
    }
}