.map-container {
    position: relative;
}

/* settings button, align with help feature and panel  */
.settings-button {
    position: absolute;
    top: 5px;
    right: 13px;
    z-index: 1000;
    background: white;
    border: none;
    padding: 4px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.settings-button:hover {
    background: #f0f0f0;
}

/* Layer panel, choose openweathermap layers */
.settings-panel {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 30px;
    right: 30px;
    gap: 5px;
    z-index: 1000;
    background: white;
    color: black;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.settings-panel h3 {
    margin: 0;
    font-size: 1em;
    font-weight: bold;
}

.settings-panel label {
    display: flex;
    font-size: 0.8em;
    gap: 2px;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
    height: 10%;
    width: 20%;
}

/* the button for closing the route */
.closeRoute {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 15px;
    left: 10px;
    z-index: 1000;
    background: red;
    font-weight: bold;
    color: white;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
