.map-container {
    position: relative;
}
/* settings button, makes sure it is on top right and aligns with the logo below  */
.settings-button {
    position: absolute;
    top: 5px;
    right: 13px;
    z-index: 1000;
    background: white;
    border: none;
    padding: 4px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.settings-button:hover {
    background: #f0f0f0;
}

.settings-panel {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 30px;
    right: 30px;
    z-index: 1000;
    background: white;
    color: black;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.settings-panel h3 {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
}

.settings-panel label {
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 14px;
    margin: 2px 0;
    cursor: pointer;
    height: 10%;
    width: 20%;
}

.settings-panel input {
    margin-right: 5px;
    position: relative;
    top:5px;
}
.buttons {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
/* gives overlay for errors */
  .popup-overlay {
    position: absolute;
    top: 20%;
    left: 25%;
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

/* the main popup for the errors */
.popup {
    background: #2C3E50;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    z-index: 1000;
  }

.popup h2 {
    color:white;
}

/* the button for closing the route */
.closeRoute {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 15px;
    left: 10px;
    z-index: 1000;
    background: red;
    font-weight: bold;
    color: white;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
