.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10vh 20px 20px 20px;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    background: linear-gradient(135deg, #1E2A38, #2C3E50);
    backdrop-filter: blur(10px);
    color: #E0E3EB;
    box-shadow: 4px 0 12px rgba(0, 0, 0, 0.3);
    transform: translateX(-100%);
    transition: transform 0.4s ease-in-out;
    z-index: 100;
}

.sidebar.open {
    transform: translateX(0);
}

.sidebar .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.sidebar button {
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    background: linear-gradient(135deg, #4E89AE, #5DADE2);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: #E0E3EB;
}

h2 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
    color: #E0E3EB;
}

.location-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    z-index: 0;
}

.previous-locations {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.location-search {
    background-color: #2C3E50;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
    animation: fadeIn 0.3s ease-in-out;
    color: #E0E3EB;
}

.location-search input {
    color: inherit;
    margin-bottom: 10px;
    width: 100%;
}

.location-component{
    background-color: #333333;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    color: #E0E3EB;
    border: 1px solid #555;
    transition: background 0.3s ease-in-out;
}

.location-component button{
    background: linear-gradient(135deg, #4a90e2, #0077b6);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
    width: 100%;
}

.settings-page {
    background-color: #2C3E50;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
    animation: fadeIn 0.3s ease-in-out;
}

.change-metrics, .clear-storage{
    background-color: #333333;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    color: #E0E3EB;
    border: 1px solid #555;
    transition: background 0.3s ease-in-out;
}

.settings-page h4{
    font-size: 1.1rem;
    font-weight: bold;
    color: #E0E3EB;
    margin-bottom: 10px;
}

.change-metrics input[type="radio"] {
    margin-right: 8px;
    accent-color: #5DADE2;
}

.change-metrics label {
    font-size: 1rem;
    color: #dcdcdc;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.change-metrics label:hover {
    color: #5DADE2;
}

.clear-storage button {
    background: linear-gradient(135deg, #4E89AE, #5DADE2);
    color: #E0E3EB;
    padding: 10px;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
    width: 100%;
}


/* Media queries for desktop */
@media screen and (min-width: 600px) {
    .sidebar {
        width: 40vw;
    }
}